*, *:before, *:after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://drive.google.com/file/d/16K5b2SZef0kbdzVoox6DTChH2M7OzhQk/view'); /* 배경 이미지 경로 */
    background-size: cover;
    color: white;
}

.header,
.footer {
    text-align: center;
    padding: 10px 0;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}
/* 화면 너비가 768px 미만일 때 적용될 스타일 */
@media screen and (max-width: 768px) {
    .container {
        width: 95%;
    }

    .navbar a {
        float: none;
        display: block;
        text-align: left;
    }

    .header,
    .footer {
        padding: 20px 0;
    }
}

/* 화면 너비가 480px 미만일 때 적용될 스타일 */
@media screen and (max-width: 480px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 10px;
    }

    .header,
    .footer {
        font-size: 18px;
    }

    .navbar a {
        padding: 10px 15px;
    }
}
.login-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.login-button:hover {
    background-color: #0056b3;
}


